body {background-color: #e8e8e8; position: fixed}

.mobileOnly {
    display: none;
    visibility: hidden
}
.desktopOnly {
    visibility: visible
}

#contactList {width: 30%; border-top-width: 0; border-right: 1px solid;}

#messageList {width: 70%; border-top-width: 0; padding: 0}

@media (max-width: 500px) {
    .mobileOnly {
        display: block;
        visibility: visible;
    }
    .desktopOnly {
        display: none;
    }
    #mobileContacts {
        width: 90vw;
    }
    #messageInput {
        border-bottom-left-radius: 5px;
    }
}

.container {padding: 3% 5% 5% 5%; height: 100vh; width: 100vw}

.jumboWindow {height: 100%; border-radius: 10px; background-color: #ffffff; overflow: hidden}

.frequently-contacted {
    border-top-width:0;
    border-bottom: solid grey 1px;
    overflow: auto;
    width: 100%;
    height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; }

.no-padding {padding: 0 !important}

th {text-align: center; font-size: 20px}

.lastSeen {font-size: 14px; color: grey; padding: 0; font-weight: normal}

.left-side {float: left}

.right-side {float: right}

.frequent-contact {
    height: 100px;
    width: 100px;
    position: relative;
    padding: 0 45px 0 45px !important;
}

.contactInitial {
    height: 80px;
    width: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: grey; /* If no gradient support*/
    background: linear-gradient(#c0c0c0, grey);
    border-radius: 50%;
    overflow: hidden;
    font-weight: lighter;
    color: white;
    text-align: center;
    font-size: 300%;
    padding-top: 10px;
    margin-top: 10px;
}
