#chatAsset {
    height: 100px;
    width: 100%;
    border-bottom: 1px solid lightgrey
}

#contactImageCell {
    width: 30%;
}

#contactImage {
    margin: auto;
    height: 80px;
    width: 80px;
    position: relative;
    background: grey; /* If no gradient support*/
    background: linear-gradient(#c0c0c0, grey);
    border-radius: 50%;
    overflow: hidden;
}

.imageTextFallback {
    line-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    font-weight: lighter;
    color: white;
    text-align: center;
    font-size: 300%;
    margin-top: 23%;
}

#contactName {
    font-weight: bold;
    font-size: large;
}

#contactMessagePreview {
}

.table-contact :hover :not(.activated) {
    background-color: #b3e0ff;
}

.table-contact :hover .imageTextFallback {
    background-color: transparent;
}

.table-contact :hover #messagePreviewText {
    color: black;
}

.table-contact.activated {
    background: #4286f4; /*If no gradient support*/
    background: linear-gradient(#56acf7, #4286f4);
}

#messagePreviewText {
    display: block;
    overflow: hidden;
    height: 40px;
    color: lightgrey;
}
