<!-- Include element for chat group -->
<link rel="stylesheet" type="text/css" href="components/chatGroup.css" />
<table id="chatAsset" class="table-contact">
    <tr>
        <td id="contactImageCell">
            <div id="contactImage">
                <div id="imageTextFallback" class="imageTextFallback"></div>
            </div>
        </td>
        <td id="contactChat">
            <table>
                <tr>
                    <td id="contactName"></td>
                </tr>
                <tr>
                    <td id="contactMessagePreview">
                        <span id="messagePreviewText"></span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>