#messagesCanvas {
    height: 100%;
    overflow: auto;
}

.chat {
    width: 100%;
    clear: both;
}

.sent {
    float: right;
}

.received {
    float: left;
}

.chatBubble {
    background: inherit;
    border-radius: 6px;
    padding: 0 6px 0 6px;
    margin: 10px 5px 0 5px;
    clear: both;
}

.sent.chatBubble {
    background: #7dc419; /* If no gradient support*/
    background: linear-gradient(#8cdb1e, #7dc419);
    color: white;
}

.received.chatBubble {
    background: #e8e8e8; /* If no gradient support*/
    background: linear-gradient(#e0e0e0, #e8e8e8);
    color: black;
}

.timestamp {
    margin: 0 5px 0 5px;
    color: lightgrey;
    clear: both;
}